[Desktop Entry]
Name=Stage
Comment=Git client inspited by Magit
Exec=stage %U
# Exec=/usr/bin/flatpak run --branch=master --arch=x86_64 --command=stage --file-forwarding com.github.aganzha.stage @@u %U @@
Actions=new-window;
Icon=io.github.aganzha.Stage
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;
