[Desktop Entry]
Name=Stage
Comment=GUI Git client inspired by Magit

Keywords=RevisionControl;Development;Utility;IDE;GNOME;GTK;git;
Categories=Development;Utility;

Exec=stage %U
Actions=new-window;
Icon=io.github.aganzha.Stage
Terminal=false
Type=Application
StartupNotify=true

[Desktop Action new-window]
Name=New Window
Exec=stage
