row:selected {
    background-color: #f6fecd; /* mine original  #f6fecd; gnome f9f06b*/
}

.nocorners {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

banner.error revealer widget {
    background-color: #fbf0f3;
}
