/*
 * SPDX-FileCopyrightText: 2024 Aleksey Ganzha <aganzha@yandex.ru>
 *
 * SPDX-License-Identifier: LGPL-3.0-or-later
 */

// this is original yellow cursor
/* row:selected { */
/*     background-color: #f6fecd; /\* mine original  #f6fecd; gnome f9f06b*\/ */
/* } */

/* #cce0f8 - is original */
/* #99c1f1 - first blue in adwaita */
/* #74a8e8 - border of line */
/* #1e1e1e - mine dark */
/* #262626 - editor dark */
/* #242424 - adwaita dark */
#status_view, #commit_view {
}

/* #status_view.light, #commit_view.light { */
/*     background-color: blue; */
/*     outline-color: green; */
/*     text-decoration-color: yellow; */
/*     color: magenta; */
/* } */
/* #status_view.light text, #commit_view.light text { */
/*     background-color: red; */
/*     outline-color: green; */
/*     text-decoration-color: yellow; */
/*     color: magenta; */
/* } */
#status_view.dark, #commit_view.dark {
    background-color: @window_bg_color;
    color: @light_3;
}
.nocorners {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

banner.error revealer widget {
    background-color: #fbf0f3;
}
/* banner.error button { */
/*     background-color:  @destructive_bg_color; */
/*     color: @destructive_fg_color; */
/* } */


scheme_selector button {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}

scheme_selector button.default {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}
scheme_selector button.light {
  background-color: #fff;
}
scheme_selector button.dark {
  background-color: #202020;
}

scheme_selector button image {    
    max-width: 0;
    max-height: 0;
}
scheme_selector button:checked {
    box-shadow: inset 0 0 0 2px @accent_bg_color;
}
scheme_selector button:checked image {
    border: none;
    background: none;
    box-shadow: none;
    max-width: 5px;
    max-height: 5px;
    transform: translate(17px, 14px);
    padding: 2px;
    background-color: @accent_bg_color;
    border-radius: 9999px;
    color: @accent_fg_color;
}

button.no_bg {
	background: rgba(255,255,255,0);
}
